/* COLOR PALLET START
  Roman Silver (background)
    828a95
    background-color: rgba(130,138,149,1);
  True Blue
    006eca
    background-color: rgba(0,110,202,1);
  Vivid Cerulean
    00a5ff
    background-color: rgba(0,165,255,1);
  Pale Cyan
    80d2ff
    background-color: rgba(128,210,255,1);
  Blanched Almond
    fcecc9
    background-color: rgba(252,236,201,1);
COLOR PALLET END */

body {
  background-color: rgba(130,138,149,1);
}

p {
  color: rgba(252,236,201,1);
  font-family: sans-serif;
}

.boxTitle {
  text-align: center;
  background-color: rgba(0,110,202,1);
  margin-bottom: 10px;
  border-radius: 20% / 20%;

}

.boxContact {
  /* border: 1px inset; */
  text-align: center;
  background-color: rgba(0,165,255,1);
  margin-bottom: 10px;
  margin-right: auto;
  border-radius: 20% / 20%;
}

.boxContact li {
  text-align: left;
  list-style: circle;
}

.boxProjects {
  text-align: center;
  background-color: rgba(0,110,202,1);
  margin-bottom: 10px;
  border-radius: 20% / 20%;
}

.boxAbout {
  text-align: center;
  background-color: rgba(0,165,255,1);
  margin-bottom: 10px;
  border-radius: 20% / 20%;
}

.boxPicContainer {
  /* background-image: linear-gradient(to right, rgba(255,0,0,.5), rgba(255,0,0,1),  rgba(255,0,0,.5)); */
  background-image: radial-gradient(rgba(0,110,202,1) 35%, rgba(130,138,149,1) 70%);
  margin-left: auto;
  margin-bottom: 10px;
}

.boxPic {
  /* text-align: center; */
  /* background-color: rgba(128,210,255,1); */
  margin-left: auto;
  background-image: url(../img/aboutMePic.jpg);
  background-size: contain;
  background-position: center;
  border-radius: 100% / 100%;
  /* width: auto; */
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  padding-bottom: 40%;
}

.boxFooter {
  text-align: center;
  background-color: rgba(128,210,255,1);
  margin-bottom: 10px;
  border-radius: 20% / 20%;
}
